*.py[cod]
*.so
*.egg
*.egg-info
*.sublime-project
*.sublime-workspace
.installed.cfg
.project
.pydevproject
.virtualenvs
dist
build
eggs
parts
bin
var
sdist
develop-eggs
lib
lib64
pip-log.txt
testing.py
setup.cfg
notes.txt